body{
   background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main{
    margin-top: 25px;
    border: 2px double rgb(80, 78, 78);
    width: 60%;
    box-shadow: 2px 3px 4px white;
    background-color: rgb(5, 5, 5);
}
h1{
    color: azure;
    font: optional;
    font-size: 30px;
    font-style: italic;
    
    text-shadow: 7px 0px 9px ;
}

input{
    margin-top: 2px;
    width: 90%;
    height: 60px;
    font-size: 45px;
    color: white;
    border: none;
    text-align: right;
    background:transparent;
    box-shadow: 3px 0px 9px  ;
     border: none;
}

.button{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    
    background: transparent;
    font-size: 20px;
    box-shadow: 5px 4px 15px ;
    color: aliceblue;
}
.button:hover{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    border: 2px double white;
    background: transparent;
    font-size: 20px;
    box-shadow: 5px 4px 15px ;
    color: aliceblue;
    cursor: pointer;
}
